/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.success-snack {
  background-color: var(--blue-info) !important;
  color: white !important;
}

.error-snack {
  background-color: var(--red-error) !important;
  color: white !important;
}

.container {
  background-color: var(--green-cyan-light);
}

.blank-background {
  background-color: white;
  height: 100%;
}

.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 25px;
  width: 100%;
  color: #fff;
  margin-top: 5px;
  background: var(--green-cyan);
}

.spacer {
  flex: 1 1 auto;
}

/** 
  Tables Structure
*/
.init-table-container {
  margin: 0 auto;
  margin-top: 50px;
  padding-top: 30px;
  background-color: white;
  width: 80%;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

table {
  width: 80%;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

.mat-row-selection {
  cursor: pointer;

  &:hover {
    background-color: var(--gray-light);
    cursor: pointer;
  }
}

/** 
  Titles in Tables
*/
.title-card {
  display: flex;
  background-color: #fff;
  color: black;
  height: 100%;
  width: 80%;

  .group-icon {
    margin-right: 7px;
    margin-top: -2px;
  }

  .label-title {
    font-size: 150%;
    font-weight: 800;
  }
}
